#bimage ,#dimage ,#pimage{
  border: 7px solid black ;
  margin: auto;
}
.head {
   border:5px black solid;
   margin: 10px; 
   padding: 10px;
   background-color: cadetblue;
   font-weight: 100;
   width: auto;
   height: auto;
   font-family:  Apple Chancery, cursive 
}

*{
    text-align: center;
    background-color:lightblue;
    
}
 
